In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd 
import numpy as np 
from utils import preprocessing as pre
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline as P
from sklearn.compose import ColumnTransformer

In [3]:
train = pd.read_csv('./data/train.csv')
pipe = pre(train)

X = train
y = train['SalePrice']
X_train,X_test,y_train,y_test = train_test_split(X,y)

obj_cols = train.select_dtypes('O').columns
norm_cols = ['GrLivArea','1stFlrSF','LotArea']

# Test custom pipe

In [70]:
log = FunctionTransformer(np.log1p)
oe = OrdinalEncoder()
n_pipe = ColumnTransformer(transformers = [
    ("LogScale", log, norm_cols) , # Numerical
    ("Encoder", oe, obj_cols ), # Categorical 

],
remainder='passthrough')

df_train = pd.DataFrame(n_pipe.fit_transform(train), columns=train.columns)

In [75]:
df_train[:1]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,2.133555,2.048136,2.30678,3.0,1.0,1.0,3.0,3.0,0.0,4.0,...,0.0,61.0,0.0,0.0,0.0,0.0,0.0,2.0,2008.0,208500.0